@import url('https://fonts.googleapis.com/css2?family=Edu+VIC+WA+NT+Beginner:wght@500&family=Roboto+Mono:wght@500&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header{
    text-align: center;
    background-color: coral;
    padding-bottom: 1px;
    font-family: 'Roboto Mono', monospace;
}
.menu{
    text-align: center;
    background-color: brown;
    padding-bottom: 1px;
    font-family: 'Roboto Mono', monospace;
}
.menu a{
    text-decoration: none;
    color: black;
    font-size: 20px;
}
.menu a:hover{
    color: coral;
}
.productos{
    font-family: 'Roboto Mono', monospace;
    text-align: center;
    background-color: black;
    color: white;
    padding-bottom: 1px;
    padding-top: 5px;
}
.productos h2{
    font-size: 28px;
}
.fuente{
    font-family: 'Roboto Mono', monospace;
}
.fuente1{
    font-family: 'Roboto Mono', monospace;
}
h3{
    font-size: 20px;
}
.color{
    text-align: center;
    background-color: darkorchid;
    color: white;
    font-size: 16px;
    padding: 5px;
}
.color1{
    text-align: center;
    background-color: brown;
    color: white;
    padding: 5px;
}
.color2{
    text-align: center;
    background-color: darkorchid;
    color: white;
    padding: 5px;
}
.color3{
    text-align: center;
    background-color: brown;
    color: white;
    padding: 5px;
}
.color4{
    text-align: center;
    background-color: brown;
    color: white;
    padding: 5px;
}
.color5{
    text-align: center;
    background-color: darkorchid;
    color: white;
    padding: 5px;
}
.color6{
    text-align: center;
    background-color: brown;
    color: white;
    padding: 5px;
}
.color7{
    text-align: center;
    background-color: darkorchid;
    color: white;
    padding: 5px;
}
.espaciado{
    background-color: coral;
}
.espacio{
    height: 40px;
    width: 100%;
}
.contactos{
    text-align: center;
    font-size: 23px;
    font-family: 'Roboto Mono', monospace;
}
.ubicacion{
    text-align: center;
    font-size: 23px;
    background-color: black;
    color: white;
    font-family: 'Roboto Mono', monospace;
}
.cont{
    font-size: 17px;
    background-color: black;
    color: white;
    font-family: 'Roboto Mono', monospace;
}
ul{
    list-style: none;
    padding-top: 10px;
}
.ubi{
    font-size: 17px;
    font-family: 'Roboto Mono', monospace;
}
.ini{
    background-color: coral;
    padding-bottom: 1px;
    padding: 10px;
    text-align: center;
}
.ini a{
    text-decoration: none;
    color: black;
    font-size: 20px;
    font-family: 'Roboto Mono', monospace;
}
.ini a:hover{
    color: brown;
}
@media only screen and (min-width:425px) and (max-width:767px){
    .color4{
        background-color: darkorchid;
    }
    .color5{
        background-color: brown;
    }
    .color6{
        background-color: darkorchid;
    }
    .color7{
        background-color: brown;
    }
}
@media only screen and (min-width:768px) and (max-width:991px){
    .color2{
    background-color: brown;
    }
    .color3{
        background-color: darkorchid;
    }
    .color4{
        background-color: darkorchid;
    }
    .color5{
        background-color: brown;
    }
    .color6{
        background-color: brown;
    }
    .color7{
        background-color: darkorchid;
    }
}

/* pagina de contacto */

.item{
    text-align: center;
    font-family: 'Roboto Mono', monospace;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 330px);
    grid-template-areas:"p1 img1"
                        "img2 p2"
                        "p3 img3";
}
.item h2{
    font-size: 25px;
}
.item1{
    padding: 15px;
    grid-area: p1;
    background-color: brown;
}
.item2{
    grid-area: img1;
    background-image: url(../multimedia/prod1.jpg);
    background-position: center;
    background-size: cover;
}
.item3{
    grid-area: img2;
    background-image: url(../multimedia/prod2.jpg);
    background-position: center;
    background-size: cover;
}
.item4{
    padding: 15px;
    padding-bottom: 15px;
    grid-area: p2;
    background-color: brown;
}
.item5{
    padding: 15px;
    padding-bottom: 15px;
    grid-area: p3;
    background-color: brown;
}
.item6{
    grid-area: img3;
    background-image: url(../multimedia/prod3.jpg);
    background-position: center;
    background-size: cover;
}
.item ul{
    list-style: none;
}
.footer{
    display: flex;
    justify-content: space-around;
    padding: 15px;
    font-family: 'Roboto Mono', monospace;
    background-color: coral;
    text-align: center;
}
.lista{
    padding-top: 55px;
}
.lista ul{
    list-style: none;
}
.inicio{
    text-align: center;
    background-color: brown;
    padding: 10px;
    font-family: 'Roboto Mono', monospace;
    font-size: 16px;
}
.inicio a{
    text-decoration: none;
    color: black;
}
.inicio a:hover{
    color: coral;
}
@media only screen and (min-width:425px) and (max-width:767px){
    .item{
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(6, 1fr);
        grid-template-areas:"img1"
                            "p1"
                            "img2"
                            "p2"
                            "img3"
                            "p3";
    }
    .footer{
        flex-direction: column;
    }
}
@media only screen and (min-width:768px) and (max-width:991px){
    .item{
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(3, 460px);
        grid-template-areas:"img1 p1"
                            "p2 img2"
                            "img3 p3";
    }
}
@media only screen and (min-width:992px) and (max-width:1023px){
    .item{
        grid-template-rows: repeat(3, 460px);
    }
    .item1{
        padding-top: 60px;
    }
    .item4{
        padding-top: 60px;
    }
    .item5{
        padding-top: 60px;
    }
}