@import url('https://fonts.googleapis.com/css2?family=Edu+VIC+WA+NT+Beginner:wght@500&family=Roboto+Mono:wght@500&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header{
    background-color: coral;
    text-align: center;
    padding-bottom: 8px;
    font-family: 'Roboto Mono', monospace;
}
h1{
    font-size: 35px;
    padding-bottom: 10px;
}
header ul{
    display: flex;
    justify-content: space-evenly;
    
}
header ul li{
    list-style: none;
    font-size: 20px;
}
header ul li a{
    color: black;
    text-decoration: none;
}
header ul li a:hover{
    color: white;
}
.menu{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 300px);
    grid-template-areas:"img1 p1"
                        "p2 img2";
}
.img1{
    background-image: url(../multimedia/img1.jpg);
    background-position: center;
    background-size: cover;
    grid-area: img1;
    border-top: 2px solid black;
    border-left: 2px solid black;
}
.img2{
    background-image: url(../multimedia/img2.jpg);
    background-position: center;
    background-size: cover;
    grid-area: img2;
    border: 2px solid black;
}
.p1{
    background-color: brown;
    color: white;
    grid-area: p1;
    border: 2px solid black;
    padding: 10px;
    padding-top: 35px;
    text-align: center;
    border-bottom: 0;
    font-family: 'Roboto Mono', monospace;
}
.p2{
    background-color: brown;
    color: white;
    grid-area: p2;
    border: 2px solid black;
    padding: 10px;
    padding-top: 35px;
    text-align: center;
    border-right: 0;
    font-family: 'Roboto Mono', monospace;
}
footer{
    background-color: coral;
    font-family: 'Roboto Mono', monospace;
    text-align: center;
    padding: 10px;
}
footer div{
    background-color: black;
    padding: 20px;
}
footer div a{
    text-decoration: none;
    color: white;
}
footer div a:hover{
    color: gray;
}